//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "variables";
@import "header";
@import "slick";
@import "shopmenu";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  padding: 30px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding: 10px 0px 0px 0px;
  }
}
.active {
  color: black;
}

.font__arrow::after {
  display: inline-block;
  content: "\f062";
  transform: rotate(45deg);
  font-family: FontAwesome;
  color: black;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (max-width: 1230px) {
    margin: 0px 30px;
  }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
