.shopmenu {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__col {
    width: 50%;
  }
  &__item {
    padding: 10px 0;
  }
  &__href {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1d9cd8;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  @media (max-width: 1278px) {
    &__col:first-child {
      text-align: center;
      width: 100%;
    }
    &__href {
      font-size: 14px;
    }
    &__col:last-child {
      display: none;
    }
  }
}
